<ion-header>
  <ion-toolbar>
    <ion-button (click)="retourHome()">
      <ion-icon name="home"></ion-icon> 
       
       Retour aux crêpes
    </ion-button>
    <ion-title>Détail d'une crêpe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
      <ion-card-header>
        <h3>{{maCrepe.name}}</h3>
        
        <ion-img *ngIf="maCrepe.photo"
              [src]="maCrepe.photo.webViewPath" >
          </ion-img>

        <ion-card-subtitle>Sous-titre</ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
          {{maCrepe.description}}
      </ion-card-content>

      <ion-item *ngIf="maCrepe.panLocation">
          <ion-label> Latitude: {{maCrepe.panLocation.lati}}</ion-label>
      </ion-item>

      <ion-item *ngIf="maCrepe.panLocation">
        <ion-label> Longitude: {{maCrepe.panLocation.longi}}</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
