<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My pancakes - Page Principale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let aCrepe of mesCrepes ">
            <h3>{{aCrepe.name}}</h3>

            <!-- <img src={{aCrepe.photo.webViewPath}}> -->
            <ion-img [src]="aCrepe.photo.webViewPath" ></ion-img>
           <a  [routerLink] = "['/pancake-fiche/detail' , aCrepe.id]">
              Aller vers la page détail
           </a>

      </ion-col>
    </ion-row>
</ion-grid>
  
</ion-content>
